html,
body,
menu {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

button {
  margin: 0;
  padding: 0;
  width: auto;
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dd,
figure {
  margin: 0;
}

a {
  line-height: 0;
  text-decoration: none;
}

span {
  display: block;
}

hr {
  border: none;
  margin: 0;
}
